/* Base Element Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #f7f7f7;
  color: #3a3a3a;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3a3a3a;
}

h1 {
  font-size: 1.5em;
}

h2 {
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1.5em;
}

header {
  background-color: #e9e9e9;
  padding-bottom: 1em;
}

main {
  padding: 2em 1em;
}

footer {
  border-top: 1px solid lightgrey;
  background-color: #e9e9e9;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Container */

.main-header {
  background-color: #e9e9e9;
  text-align: center;
}

.contact {
  padding: 2em 1em;
  background-color: #e9e9e9;
}

/* Class Selector */

.main-nav h1 {
  padding-top: 1em;
  margin-top: 0;
  font-size: 2em;
}

.main-nav li {
  margin: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}

.main-nav a {
  display: block;
}

.profile {
  padding: 1em;
}

.profile p {
  font-size: 1.1em;
}

.profile-picture {
  margin: 1.5em;
  width: 80%;
}

main h2 {
  margin: 2em 0 2em 0;
}

main img {
  width: 100%;
}

.footer-nav {
  display: none;
}

.top {
  font-size: 1em;
  text-transform: uppercase;
}

footer h3 {
  margin: 0;
}

/* Viewport */

@media (min-width: 768px) {
  .main-nav ul {
    display: inline-flex;
  }

  .profile {
    display: flex;
    flex-direction: row-reverse;
    margin: 3em 1.5em;
  }

  .profile-picture {
    width: 40%;
    padding: 0;
  }

  .profile p {
    font-size: 1.25em;
    margin: 0;
    padding-right: 1em;
    text-align: left;
  }

  .card {
    width: 45%;
    margin: 1em;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card p {
    padding: 0 1.5em;
  }

  .contact p {
    margin: 2em 6em;
  }

  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-nav ul {
    display: block;
    list-style-type: none;
  }

  .footer-nav li {
    display: inline;
    padding-left: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
  }

  .top {
    display: none;
  }
}

@media (min-width: 1024px) {

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1.25em 0 1.25em;
  }

  .main-nav h1 {
    margin: 0;
    padding-top: 0;
  }

  .profile {
    margin: 3em 1.25em;
  }

  .card {
    width: 30%;
  }

  .contact p {
    margin: 2em 13em;
  }
}

/* clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}