/* Base Element Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #3a3a3a;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3a3a3a;
}

h1 {
  font-size: 1.5em;
}

h2 {
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1.5em;
}

/* Container */

.main-header {
  background-color: #e9e9e9;
  text-align: center;
}

.nav-container {
  padding: 1em;
}

.about {
  padding: 1em;
}

.main {
  padding: 2em 1em;
}

.contact {
  padding: 2em 1em;
  background-color: #e9e9e9;
}

.main-footer {
  border-top: 1px solid lightgrey;
  background-color: white;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Class */

.name {
  padding: 0.3em;
  margin: 0;
}

.main-nav li {
  background-color: white;
  margin: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}

.photo {
  width: 100%;
  padding: 2em;
}

.about p {
  color: #5a5a5a;
  padding: 0.5em 0;
  margin: 0;
}

.main-content img {
  width: 100%;
}

.main-content h3 {
  margin-bottom: 0;
}

.footer-ul {
  display: none;
}

.top {
  font-size: 1em;
  text-transform: uppercase;
}

.main-footer h3 {
  margin: 0;
}

/* Viewport */